In [ ]:
# import pandas as pd
import pandas as pd

In [ ]:
#declaring the filepath
file_path='E:\\Python\\cric_info_2_7_2024\\cricinfo_sample1.csv'

In [ ]:
#pd pandas is using read_csv to read the file data
df = pd.read_csv(file_path)

In [ ]:
#this data frame will show all the data with in the data frame
df

In [ ]:
#this print() will print the file data which is read by data frame here head() dispalys sample header data from file
print(df.head(10))

In [ ]:
#rename multiple columns in a list
df=df.rename(columns={'Mat':'Matches','Inns':'Innings','NO':'Not_Outs', 'HS':'Highest_Inns_Score','Ave':'Average','BF':'Balls_Faced','SR':'Batting_Strike_Rate'})

In [ ]:
#this data frame will show all the data with in the data frame
df.head(20)

In [ ]:
#Check Null values
df.isnull().any()

In [ ]:
#check data for balls_faces
df[df['Balls_Faced'].isna()==1]
df[df['Batting_Strike_Rate'].isna()==1]

In [ ]:
#lets fill data for nulls as 0
df['Balls_Faced']=df['Balls_Faced'].fillna(0)

In [ ]:
#lets fill data for nulls as 0
df['Batting_Strike_Rate']=df['Batting_Strike_Rate'].fillna(0)

In [ ]:
#check data from dataframe for a specific palyer where player name ='ED Weekes (WI)'
df[df['Player']=='ED Weekes (WI)']

In [ ]:
#check data from dataframe for a specific palyer where player name ='CL Walcott (WI)'
df[df['Player']=='CL Walcott (WI)']

In [ ]:
#check if have any duplicate records in the data frame
df.duplicated().any()

In [ ]:
#check duplicates specific to the column / for a column name
df[df['Player'].duplicated()==1]

In [ ]:
#check data for specific rows
df[df['Player'].isin(['GA Headley (WI)','GS Sobers (WI)','JB Hobbs (ENG)','SR Tendulkar (IND)','V Kohli (IND)'])]

In [ ]:
#drop duplicates and assign back to dataframe
df=df.drop_duplicates()

In [ ]:
df

In [ ]:
#check data for specific column in a data frame
df['Span']

In [ ]:
#split up Span column data into start and end date
df['Span'].str.split(pat='-')

In [ ]:
#captures first part of split from .str[0] , for other part it should be .str[1]   
#(or) 
# first part of the string 
df['Span'].str[0:4]
df['Span'].str.split(pat='-').str[0]

In [ ]:


# second part of the string 
# df['Span'].str[5:9]
# df['Span'].str.split(pat='-').str[1]

In [ ]:
#creating new column as start year with in the dataframe
df['Start_Year']=df['Span'].str.split(pat='-').str[0]

In [ ]:
##creating new column as end year with in the dataframe
df['End_Year']=df['Span'].str.split(pat='-').str[1]

In [ ]:
#Drop Span column
df=df.drop(['Span'],axis=1)

In [ ]:

df['Country']=df['Player'].str.split(pat='(').str[1]  #let it be ending with ')'ArithmeticError
# #now will split further country column data like below
df['Country']=df['Country'].str.split(pat=')').str[0] # this will store the country name deatils into country column
##creating new column as end year with in the dataframe
df['Player']=df['Player'].str.split(pat='(').str[0]
#below is the other way using regular expression

In [ ]:
#Creating multiple column from a single column having data like name and country mentioned in () split using regular expression 
#df[['Player_Name','Country']]=df['Player'].str.extract (r'(.+)\s\((.+)\)')

In [ ]:
#check the data types
df.dtypes

In [ ]:
#splitting * from the data in Highest_Inns_Score
df['Highest_Inns_Score']=df['Highest_Inns_Score'].str.split(pat='*').str[0]

In [ ]:
#changing data type to integer from object using astype() method
df['Highest_Inns_Score']=df['Highest_Inns_Score'].astype('int')

In [ ]:
df['Balls_Faced']=df['Balls_Faced'].str.split(pat='+').str[0]

In [ ]:
#df['Balls_Faced']=df['Balls_Faced'].astype('int')
df['Balls_Faced'].isna().any()
df['Balls_Faced']=df['Balls_Faced'].fillna(0)

In [ ]:
#convert object to integer
df['Balls_Faced']=df['Balls_Faced'].astype('int')

In [ ]:
#df['Start_Year'].isna().any()
#df['Start_Year']=df['Start_Year'].fillna(0)
df['Start_Year']=df['Start_Year'].astype(int)

In [ ]:
#df['End_Year'].isna().any()
#df['End_Year']=df['End_Year'].fillna(0)
df['End_Year']=df['End_Year'].astype(int)

In [ ]:
#alternate way to change data type for multiple columns
df=df.astype({'End_Year':int,'Start_Year':int})

In [ ]:
#drop /delete specific row data in data frame

df.drop(index=65)
#either ways we can delete row from data frame
df.drop(65,axis=0)

In [ ]:
#Create a new column career output
df['Career_Length']=df['End_Year']-df['Start_Year']

#Calculations with DataFrames

In [ ]:
#>>>Question1 Cricketers in this data frame what is the average career length
Career_Length_avg=df['Career_Length'].mean()
print(f'Average_Career_Length:{Career_Length_avg}')

In [ ]:
#>>>Question2 Average Strike rate of the cricket palyers who played over 10 years
Average_Strike_rate=df[df['Career_Length']>10]['Batting_Strike_Rate'].mean()
print(f'Average_Strike_rate_for_players_over_10years:{Average_Strike_rate}')

In [ ]:
#>>>Question3 Find number of cricketers who played before 1960
players_count=df[df['End_Year']<1960]['Player'].count()
print(f'count of players palyed before 1960:{players_count}')

In [ ]:
#>>>Question4 Max highest innings scored by country
#Grouping by 'Country':df.groupby('Country')
#Selecting the 'Highest_Inns_Score' column and finding the maximum value in each group:['Highest_Inns_Score'].max()
#Converting the Series to a DataFrame:.to_frame('Highest_Innings_Country')
#Resetting the index: .reset_index()
#Sorting the DataFrame:sort_values('Highest_Innings_Country',ascending=False)
Max_innings_country=df.groupby('Country')['Highest_Inns_Score'].max().to_frame('Highest_Innings_Country').reset_index().sort_values('Highest_Innings_Country',ascending=False)
print(f'Max highest innings scored by country\n:{Max_innings_country}')

In [ ]:
#>>>Question5 five hundereds, fifties, ducks(0) Avg by country
d